<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @contract.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @contract.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contract.name %>
</p>

<p>
  <strong>Dpi:</strong>
  <%= @contract.dpi %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contract.age %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @contract.civil_status %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contract.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contract.phone %>
</p>

<p>
  <strong>Service:</strong>
  <%= @contract.service %>
</p>

<p>
  <strong>Career:</strong>
  <%= @contract.career %>
</p>

<p>
  <strong>Academic grade:</strong>
  <%= @contract.academic_grade %>
</p>

<p>
  <strong>Mount:</strong>
  <%= @contract.mount %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @contract.fee %>
</p>

<p>
  <strong>Way to pay:</strong>
  <%= @contract.way_to_pay %>
</p>

<p>
  <strong>Contract service:</strong>
  <%= @contract.contract_service %>
</p>

<p>
  <strong>Social:</strong>
  <%= @contract.social %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
