<!DOCTYPE html>
<html>
    <head>
        <title>Utest</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-yellow.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="full-height">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header full-height">
            <%= render 'partials/navigation'%>
            <main class="mdl-layout__content full-height">
              <div class="page-content full-height"><%= yield %></div>
            </main>
        </div>
    </body>
</html>
